@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* Dark */
    /* background-color: #222021;
    color: #D3D3D3; */
    /* Light */
    background-color: #F5F5F5;
    color: #222021;
}

/* ICONS */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    color: #222021;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* ICON BUTTON */
.iconButton {
    display: inline-block;
    background-color: #F5F5F5;
    border: 0em solid;
}
.iconButton:hover {
    color: #800000;
}

/* NO SELECTION ON PAGE */
.no-select {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */                
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: none; 
}

/* HEADERS */
/* TOP GRID */
.grid-top {
    display: grid;
    /* grid-template-columns: 1.5fr 1.5fr; */
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    grid-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* HEADERS */
.grid-top h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Georgia', serif;
    /* color: #bbc3c8; */
    font-style: italic; 
    font-size: 18px
}
/* LINES AROUND HEADERS */
.grid-top h2:before,
.grid-top h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}    
.grid-top h2:after {
    margin: 0 0 0 20px;
}

.grid-top h4 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-family: 'Georgia', serif;
    /* color: #bbc3c8; */
    font-style: italic; 
    font-size: 16px
}

.grid-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.topbar {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,79,1) 35%, rgba(0,212,255,1) 100%);
    overflow: hidden;
}

.selectButton {
    position: relative;
    left: 1000px;
    top: 35px;
}

/* COLOR SEARCH TEXT BOX */
.colorSearch {
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #DADADA;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #DADADA;
    width: 100%;
}

/*the container must be positioned relative:*/
.colorSearch {
    position: relative;
    display: inline-block;
  }
  
.colorSearch-items {
    position: absolute;
    top: 0;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%; */
    left: 0;
    right: 0;
}

.colorSearch-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.colorSearch-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.colorSearch-active {
    background-color: #e9e9e9;
}

/* PARTITION LINE */
.part {
    border-right: 4px solid #222021;
    height: 100%;
}
.part p {
    font-size: 15px;
}

/* select.profileButton option {
    background-repeat:no-repeat;
    background-position:bottom left;
    padding-left:30px;
}
select#profileButton option[value='linear'] {
    background-image:url(flags/usa.png);
} */

.loader {
    float: right;
    border: 10px solid #E5E5E5;
    border-radius: 50%;
    border-top: 10px solid #747474;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.scoreFunct {
    position: absolute;
    top: 1000;
    left: 0;
}

.debugTool {
    float: right;
    font-size: 20px;
}

/* DEBUG TOOL - GRID */
.grid-debugTop {
    display: grid;
    /* grid-template-columns: 1.5fr 1.5fr; */
    grid-template-columns: 1.3fr 0.85fr 0.85fr;
    grid-template-rows: 100%;
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
}

.grid-canvas {
    display: grid;
    /* grid-template-columns: 1.5fr 1.5fr; */
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    /* grid-gap: 10px; */
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

/* HEADERS */
.grid-debug h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Georgia', serif;
    /* color: #bbc3c8; */
    font-style: italic; 
    font-size: 18px
}
/* LINES AROUND HEADERS */
.grid-debug h2:before,
.grid-debug h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}    
.grid-debug h2:after {
    margin: 0 0 0 20px;
}