@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* Dark */
    /* background-color: #222021;
    color: #D3D3D3; */
    /* Light */
    background-color: #F5F5F5;
    color: #222021;
}

/* ICONS */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    color: #F5F5F5;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* NO SELECTION ON PAGE */
.no-select {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */                
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: none; 
}

/* TEMP HEADERS */
/* TOP GRID */
.grid-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr;
    grid-gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* HEADERS */
.grid-top h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Georgia', serif;
    /* color: #bbc3c8; */
    font-style: italic; 
    font-size: 18px
}
/* LINES AROUND HEADERS */
.grid-top h2:before,
.grid-top h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}    
.grid-top h2:after {
    margin: 0 0 0 20px;
}

.grid-top h4 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-family: 'Georgia', serif;
    /* color: #bbc3c8; */
    font-style: italic; 
    font-size: 16px
}

/* COLOR SEARCH TEXT BOX */
.colorSearch {
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #DADADA;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #DADADA;
    width: 100%;
}


/*the container must be positioned relative:*/
.colorSearch {
    position: relative;
    display: inline-block;
  }
  
.colorSearch-items {
    position: absolute;
    top: 0;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%; */
    left: 0;
    right: 0;
}

.colorSearch-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.colorSearch-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.colorSearch-active {
    background-color: #e9e9e9;
}